html {
    scroll-behavior: smooth;
}

body {
    font-family: Heebo;
}

nav {
    display: flex;
    justify-content: end;
    max-width: 1152px;
    margin: 27px auto 0;
}

nav a {
    font-weight: 500;
    font-size: 20px;
    line-height: 29px;
    text-decoration: none;
    color: black;
    margin-right: 23px;
}

#about-me-section {
    width: 860px;
    margin: 175px auto 0;
    display: flex;
    justify-content: space-between;
}


#about-me-section div h1 {
    font-size: 44px;
    font-weight: bold;
    line-height: 60px;
    margin-bottom: 40px;
}

#about-me-section div p {
    width: 497px;
    font-size: 16px;
    line-height: 23px;
}

#about-me-section div button {
    margin-top: 38px;
    width: 200px;
    height: 47px;
    background: #FF6464;
    border-radius: 8px;
    border: none;

    font-weight: 500;
    font-size: 20px;
    line-height: 29px;
    color: #FFF;
}

#about-me-section div div {
    width: 243px;
    height: 243px;
    border-radius: 50%;
    background-image: url(eu\ espelho.jpg);
    background-size: cover;
}

#my-projects-section {
    border-radius: 8px;
    background:#384772;
    padding: 24px 0;
    margin: 70px 0;
}


#my-projects-section h2 {
    font-size: 28px;
    color: #FFF;
}

#my-projects-section section {
    width: 860px;
    margin: 0 auto;
}



.projects-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 21px;
}

.projects-container div div {
    width: 100%;
    height: 170px;
    border-radius: 8px;
    background-image: url(azulzao.jpg);
    background-size: cover;
}

.projects-container div {
    background: #FFF;
    width: 49%;
    margin: 0 0 20px 0;
    padding-bottom: 16px;
    border-radius: 8px;
}

.projects-container div a {
    text-decoration: none;
    color: black;
}
.projects-container div h3 {
    font-size: 26px;
    font-weight: bold;
    margin: 14px 0 9px 23px;
}

.projects-container div p {
    font-size: 16px;
    margin-left: 23px;
}

#skills-container {
    width: 100%;
}

#skills-container h2 {
    font-size: 28px;
    margin-bottom: 6px;
    text-align: center;
}

#skills-container div {
    border-radius: 8px;
    width: 100%;
    background: #384772;
    padding: 12px 0;
    display: flex;
    justify-content: center;
}

#skills-container div img {
    height: 75px;
}

#skills-container div img + img {
    margin-left: 23px;
}

footer {
    width: 856px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border-top: 1px solid #E0E0E0;
    padding-top: 47px;

}

footer p {
    width: 100%;
    text-align: center;
    margin-top: 26px;
    margin-bottom: 45px;
}

footer img + img {
    margin-left: 35px;
}


@media (max-width: 400px) {

    nav {
        width: 100%;
    }

    nav a {
        font-size: 15px;
    }

    #about-me-section {
        flex-direction: column-reverse;
        align-items: center;
        margin-top: 34px;
        width: 100%;
    }

    #about-me-section div h1 {
        font-size: 32px;
        line-height: 40px;
        margin-bottom: 44px;
        text-align: center;
    }

    #about-me-section div p {
        font-size: 16px;
        width: 328px;
        text-align: center;
    }

    #about-me-section div img {
        width: 177px;
        height: 177px;
        margin-bottom: 36px;
    }

    #about-me-section div button{
        margin-left: auto;
        margin-right: auto;
        display: block;
    }

    #my-projects-section {
        display: flex;
    }


    #my-projects-section section h2{
        font-size: 22px;
        text-align: center; 
    }

    .projects-container {
        display: flex;
        flex-wrap: wrap;
    }

    .projects-container div {
        width: 354px;
        margin-right: auto;
        margin-left: auto;
    }

    .projects-container div h3 {
        font-size: 22px;
    }

    .projects-container div p {
        font-size: 16px;
        max-width: 314px;
    }

    #skills-container h2 {
        font-size: 24px;
    }

    #skills-container div {
        flex-wrap: wrap;
        padding: 4px 0 34;
    }

    #skills-container img, #skills-container div img + img {
        margin: 0 30px;
    }
     
    footer {
        width: 100%;
    }

}